body{
    margin: 0;
    padding: 0;
    width: 100%; /* full window width */
    justify-content: space-evenly;
    flex-direction: column;
}
.nav-bar{
    /* settings for nav bar*/
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.main-page{
    /* settings for main part of page*/
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.personal-main{
    float: right;
    padding: 20px;
    width:25%;
}

.recipe-main{
    /*left side of page*/
    width: 75%;
}

.recipe-steps{
    flex-wrap: row;
    padding: 25px;
}

.main-header{
    text-align: center;
}

.steps-header{
    text-align: center;
}

.aside-header{
    text-align: center;
}

.recipe-header{
    text-align: center;
}

.recipe-title{
    text-align: center;
}